<template>
    <div class="anime-list">
        <input id="search" ref="search" placeholder="Search" v-on:input="changeAnime">
        <div v-if="loading" class="loading">
            Loading...
        </div>
        <div class="actual-list" v-else>
            <AnimeCard v-for="anime in animes" v-bind:anime="anime" v-bind:key="anime.Id"></AnimeCard>
        </div>
    </div>
</template>

<style scoped lang="scss">
    #search {
        font-family: Roboto, sans-serif;
        border: none;
        background: #191d26;
        color: white;
        font-size: 16px;
        padding: 3px 20px;
        width: 600px;
        margin: auto;
        display: block;
    }

    .loading {
        text-align: center;
        padding: 20px;
        font-family: sans-serif;
        font-size: 2vw;
    }

    .actual-list {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .anime-list {
        position: relative;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        padding-bottom: 5%;
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import AnimeCard from "./AnimeCard/AnimeCard.vue";
	import {$$, client} from "../init";
	import {Anime} from "../../../classLibrary/Anime";

	@Component({
		components: {AnimeCard}
	})
	export default class AnimeList extends Vue {
		private animes: Anime[] = [];
		private page: number = 1;
		private timeout: boolean = false;
		private loading: boolean = true;


		private async scrollHandler() {
			let top = document.documentElement.scrollTop;
			let scrolled = top + window.innerHeight;
			if (scrolled == document.body.scrollHeight) {
				console.log(this.timeout, this.page);
				if (!this.timeout) {
					let nextPage: Anime[] = await client.GetAllAnime(this.page, 21);
					if (nextPage.length > 0) {
						nextPage.Each(a => this.animes.push(a));
						this.page++;
					}
					await $$(1000);
					this.timeout = false;
				}
			}
		};

		async changeAnime(): Promise<void> {
			const e: HTMLInputElement = this.$refs["search"] as HTMLInputElement;
			this.animes = await client.SearchAnime(e.value)
		}

		async beforeCreate() {
			this.animes = await client.GetAllAnime(0, 21);
			this.loading = false;
			document.addEventListener("scroll", this.scrollHandler);
		}

		get Loading(): boolean {
			return this.loading;
		}

		async beforeDestroy() {
			document.removeEventListener("scroll", this.scrollHandler);
		}
	}
</script>
