<template>
    <div class="banner">
        <WidthImage v-bind:image-src="logo"></WidthImage>
        <div class="banner-title" v-on:click="Home">Anime Capital</div>
        <a href="https://discord.gg/ERQQJzf" target="_blank" class="discord">Join Our Discord!</a>
    </div>
</template>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

    .discord {
        display: inline-block;
        position: relative;
        background: grey;
        color: white;
        text-decoration: none;
        font-family: sans-serif;
    }

    .banner-title {
        cursor: pointer;
        top: 10px;
        left: 10px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        position: absolute;
        font-family: 'ZCOOL KuaiLe', sans-serif;
        font-size: 3vw;
        color: white;
    }

    .banner {
        position: absolute;
        width: 100vw;
        height: 20.125vw;
    }


</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {images} from "../images";
	import WidthImage from "./WidthImage.vue";

	@Component({
		components: {WidthImage}

	})
	export default class Banner extends Vue {
		data() {
			return {logo: images.banner}
		}

		Home(): void {
			this.$router.push({name: 'home'})
		}
	}
</script>
