<template>
    <img class='width-image' v-bind:src="imageSrc" alt="">
</template>


<style scoped lang="scss">
    .width-image {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';

	@Component({
		props: {
			imageSrc: String
		}
	})
	export default class WidthImage extends Vue {
	}
</script>