<template>
    <div class="episode">
        <EpisodePlayButton v-on:click.native="PlayAnime" class="play-button"></EpisodePlayButton>
        <div class="left">
            {{episode.Name}} <span class="up" v-if="Today()">UP</span>
        </div>
        <div class="right">
            #{{episode.Number}}
        </div>
        <div class="date-time">
            {{DateReleased}}
        </div>
    </div>
</template>

<style scoped lang="scss">
    $box: 80px;
    $bg: #191d26;

    .up {
        font-size: 12px;
        color: mediumspringgreen;
        margin-left: 5px;
        padding: 5px;
    }

    .font {
        font-family: Overpass, sans-serif;
        font-size: 16px;
        position: absolute;
        top: 15px;
    }

    .left {
        @extend .font;
        left: 90px;
        color: #93bcff;
    }

    .right {
        @extend .font;
        right: 15px;
        color: white;
    }

    .date-time {
        position: absolute;
        left: 90px;
        top: 38px;
        font-family: Overpass, sans-serif;
        color: #9fadbd;
    }

    .play-button {
        position: relative;
        width: $box;
        height: $box;
        background: #FFFFFF20
    }

    .episode {
        position: relative;
        width: 100%;
        max-width: 500px;
        left: 50%;
        box-sizing: border-box;
        height: $box;
        transform: translateX(-50%);
        background: $bg;
        border-bottom: white 1px solid;
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {Episode} from "../../../../classLibrary/Episode";
	import EpisodePlayButton from "./EpisodePlayButton.vue";

	@Component({
		components: {EpisodePlayButton},
		props: {
			episode: Episode,
			animeId: String
		}
	})
	export default class EpisodeCard extends Vue {
		private episode: Episode;
		private animeId: string;

		Today(): boolean {
			return this.DateReleased == "Today";
		}

		get DateReleased(): string {
			let hours: number = Math.abs(new Date() - this.episode.Updated) / 36e5;
			if (hours < 24) {
				return "Today"
			} else if (hours < 48) {
				return "Yesterday"
			} else if (hours < 120) {
				return `${(hours / 24).Floor().ToInt()} days ago`
			} else {
				return this.episode.Updated.toShortFormat();
			}
		}

		PlayAnime(): void {
			this.$router.push({name: 'episode', params: {id: this.animeId, ep: this.episode.Number.toString()}})
		}
	}
</script>
