<template>
    <div class="anime-list">
        <EpisodeCard v-bind:episode="episode" v-bind:animeId="anime.Id" v-for="episode in Episodes" v-bind:key="episode.Number"></EpisodeCard>
    </div>
</template>

<style scoped lang="scss">

    .anime-list {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {client} from "../../init";
	import {DetailedAnime} from "../../../../classLibrary/DetailedAnime";
	import {Episode} from "../../../../classLibrary/Episode";
	import EpisodeCard from "./EpisodeCard.vue";

	@Component({
		components: {EpisodeCard}
	})
	export default class EpisodeList extends Vue {
		private anime: DetailedAnime;

		data() {
			return {
				anime: DetailedAnime
			}
		}

		get Details(): DetailedAnime {
			return this.anime;
		}

		get Episodes(): Episode[] {
			return this.anime.Episodes;
		}

		async mounted() {
			let id: string = (this.$route.params as any).id!;
			this.anime = await client.GetAnime(id);
		}
	}
</script>
