<template>
    <div class="play-button">
        <div class="triangle">
            <img v-bind:src="normal" alt="play_button">
            <div class="colored">
                <img v-bind:src="hover" alt="play_button">
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .triangle {
        .colored {
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            transition: 0.5s;

            &:hover {
                opacity: 1;
            }
        }

        width: 100%;
        height: 100%;
        position: absolute;

        img {
            cursor: pointer;
            top: 50%;
            left: 50%;
            height: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            position: absolute;
        }

    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {images} from "../../images";
	
	@Component({})
	export default class EpisodePlayButton extends Vue {
		data() {
			return {
				normal: images.play,
				hover: images.playHover
			}
		}
	}
</script>