<template>
    <div class="anime">
        <AnimeCardImage v-bind:anime="anime"></AnimeCardImage>
        <AnimeCardInfo v-bind:anime="anime" class="text-holder"></AnimeCardInfo>
    </div>
</template>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Overpass');

    .text-holder {
        width: 55%;
        float: left;
        height: 100%;
    }

    .anime {
        background: #1F232D;
        position: relative;
        margin: 20px;
        width: 470px;
        height: 300px;
    }

</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {Anime} from "../../../../classLibrary/Anime";
	import VueCustomScrollbar from "vue-custom-scrollbar/src/vue-scrollbar.vue";
	import AnimeCardImage from "./AnimeCardImage.vue";
	import AnimeCardHeader from "./AnimeCardHeader.vue";
	import AnimeCardInfo from "./AnimeCardInfo";
	import AnimeCardGenre from "./AnimeCardGenre.vue";

	@Component({
		components: {AnimeCardGenre, AnimeCardHeader, AnimeCardImage, VueCustomScrollbar, AnimeCardInfo},
		props: {
			anime: Anime
		}
	})
	export default class AnimeCard extends Vue {
	}
</script>