<template>
    <div class="card-header">
        <div class="left-side">
            <div class="update-title">
                {{DisplayTitle}}
            </div>
            <div class="released-time">
                {{DateReleased}}
            </div>
        </div>
        <div class="right-side">
            <div class="watch" v-on:click="GoToEpisode">Play</div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Overpass');

    .left-side {
        position: relative;
        float: left;
        width: 65%;
    }

    .right-side {
        width: 30%;
        height: 100%;
        float: left;
        position: relative;
    }

    .watch {
        display: inline-block;
        font-family: Overpass, sans-serif;
        position: relative;
        top: 50%;
        left: 50%;
        text-align: center;
        font-size: 13px;
        transform: translate(-50%, -35%);
        color: black;
        background: mediumspringgreen;
        box-sizing: border-box;
        padding: 5px 20px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: white;
            background: deepskyblue;
        }
    }

    .update-title {
        font-family: Overpass, sans-serif;
        color: #93bcff;
        font-size: 16px;
        font-weight: 600;
        margin: 20px 0 0 20px;
    }

    .released-time {
        color: #9fadbd;
        font-family: Overpass, sans-serif;
        font-size: 12px;
        margin: 5px 0 5px 20px;
    }

    .card-header {
        width: 100%;
        position: relative;
    }


</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {Anime} from "../../../../classLibrary/Anime";

	@Component({
		props: {
			anime: Anime
		}
	})
	export default class AnimeCardHeader extends Vue {
		private anime: Anime;

		get DisplayTitle(): string {
			return `Episode ${this.anime.Episode} updated`;
		}

		GoToEpisode(): void {
			this.$router.push({name: 'anime', params: {id: this.anime.Id}})
		}

		get DateReleased(): string {
			let hours: number = Math.abs(new Date() - this.anime.Date) / 36e5;
			if (hours < 24) {
				return "Today"
			} else if (hours < 48) {
				return "Yesterday"
			} else if (hours < 120) {
				return `${(hours / 24).Floor().ToInt()} days ago`
			} else {
				return this.anime.Date.toShortFormat();
			}
		}
	}
</script>