<template>
    <div class="genre">
        <div class="left" v-if="NeedPage" v-on:click="left"><</div>
        <div class="genre-holder">
            <div v-for="genre in Display" class="genre-instance">{{genre}}</div>
        </div>
        <div class="right" v-if="NeedPage" v-on:click="right">></div>
    </div>
</template>

<style scoped lang="scss">

    .middle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: Overpass, sans-serif;
        font-weight: 600;
        color: white;
        cursor: pointer;
    }

    .genre-holder {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        top: 50%;
        transform: translateY(-50%);

    }

    .left {
        @extend .middle;
        left: 10px;
    }

    .right {
        @extend .middle;
        right: 10px;
    }

    .genre {
        width: 100%;
        position: relative;
    }

    .genre-instance {
        font-family: Overpass, sans-serif;
        font-size: 10px;
        padding: 3px 10px;
        margin: 0 5px;
        background: #ebb62d;
        color: #8b2e10;
        border-radius: 20px;
        display: inline-block;
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {Anime} from "../../../../classLibrary/Anime";

	@Component({
		props: {
			anime: Anime
		}
	})
	export default class AnimeCardGenreList extends Vue {
		private anime: Anime;
		private current: number = 0;

		data() {
			return {
				current: 0
			}
		}

		left(): void {
			console.log(this.Page, this.Genres.length);
			if (this.current == 0) {
				this.current = this.Page - 1;
			} else {
				this.current--;
			}
		}

		right(): void {
			if (this.current == this.Page - 1) {
				this.current = 0;
			} else {
				this.current++;
			}

		}

		get Genres(): string[] {
			return this.anime.Genre;
		}

		get NeedPage(): boolean {
			return this.Page > 1;
		}

		get Page(): number {
			return ((this.Genres).length / 2).Ceil();
		}

		get Display(): string[] {
			return (this.Genres).Skip(this.current * 2).Take(2);
		}
	}
</script>