<template>
    <div class="image-side">
        <img v-bind:src="coverPhoto" alt="Cover Image" @error="imageLoadError">
        <div class="info">
            <div class="name">{{anime.Name}}</div>
            <div class="update">MAL Rating: <span class="rating">{{anime.Rating}}</span></div>
        </div>
        <div class="hover" v-on:click="GoToEpisode">
            <div class="play">Play</div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Overpass');

    .play {
        display: inline-block;
        position: absolute;
        color: white;
        font-size: 30px;
        font-weight: 600;
        font-family: Overpass, sans-serif;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        border-radius: 50%;

        &:hover {
            color: deepskyblue;
        }
    }

    .hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        background-color: #00000088;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .basic-font {
        margin: 4px;
        font-family: Overpass, sans-serif;
        font-weight: 600;
    }

    .rating {
        @extend .basic-font;
        font-size: 11px;
        color: #93bcff;
    }

    .name {
        @extend .basic-font;
        font-size: 15px;
        color: white;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: #75c3f0;
        }
    }

    .update {
        @extend .basic-font;
        font-size: 13px;
        color: goldenrod;
    }

    .info {
        box-sizing: border-box;
        padding: 10px;
        position: absolute;
        bottom: 0;
        background: #292929BB;
        width: 100%;
    }

    .image-side {
        float: left;
        width: 45%;
        height: 100%;
        position: relative;
        margin: 0;
        border: 0;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {Anime} from "../../../../classLibrary/Anime";
	import {client} from "../../init";

	@Component({
		props: {
			anime: Anime
		}
	})
	export default class AnimeCardImage extends Vue {
		private anime: Anime;
		private coverPhoto: string;

		data() {
			return {
				coverPhoto: this.anime.Image
			}
		}

		async imageLoadError() {
			this.coverPhoto = await client.FindAlternateImage(this.anime.Name);
		}

		GoToEpisode(): void {
			this.$router.push({name: 'anime', params: {id: this.anime.Id}})
		}
	}
</script>
