<template>
    <div class="genre">
        <AnimeCardGenre v-bind:anime="anime"></AnimeCardGenre>
    </div>
</template>

<style scoped lang="scss">
    .genre {
        position: relative;
    }

    .holder {
        width: 100vw;
    }

    .genre-instance {
        font-family: Overpass, sans-serif;
        font-size: 10px;
        padding: 3px 10px;
        margin: 0 5px;
        background: #ebb62d;
        color: #8b2e10;
        border-radius: 20px;
        display: inline-block;
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {Anime} from "../../../../classLibrary/Anime";
	import VueCustomScrollbar from "vue-custom-scrollbar/src/vue-scrollbar.vue";
	import AnimeCardGenre from "./AnimeCardGenre.vue";

	@Component({
		components: {AnimeCardGenre, VueCustomScrollbar},
		props: {
			anime: Anime
		}
	})
	export default class AnimeCardGenreList extends Vue {
		private anime: Anime;

		get Genres(): string[] {
			return this.anime.Genre;
		}
	}
</script>

