<template>
    <div class="text-holder">
        <AnimeCardHeader class="header" v-bind:anime="anime"></AnimeCardHeader>
        <vue-custom-scrollbar class="scroll-area">
            <div class="text" v-html="anime.Synopsis"></div>
        </vue-custom-scrollbar>
        <AnimeCardGenre v-bind:anime="anime" class="genre"></AnimeCardGenre>
    </div>
</template>

<style scoped lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Overpass');

    .genre {
        box-sizing: border-box;
        padding: 5px;
        width: 100%;
        height: 13%;
        position: relative;
        bottom: 0;
        background: #191d26;
    }

    .text-holder {
        position: relative;
    }

    .header {
        height: 22%;
    }

    .scroll-area {
        background: transparent;
        width: 100%;
        height: 65%;
        position: relative;
    }

    .text {
        width: 100%;
        height: 100%;
        font-size: 14px;
        padding: 0 20px 30px 20px;
        text-align: justify;
        box-sizing: border-box;
        display: inline-block;
        font-family: Overpass, sans-serif;
        color: #9fadbd;
        position: absolute;
    }


</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {Anime} from "../../../../classLibrary/Anime";
	import VueCustomScrollbar from "vue-custom-scrollbar/src/vue-scrollbar.vue";
	import AnimeCardImage from "./AnimeCardImage.vue";
	import AnimeCardHeader from "./AnimeCardHeader.vue";
	import AnimeCardGenre from "./AnimeCardGenre.vue";

	@Component({
		components: {AnimeCardGenre, AnimeCardHeader, AnimeCardImage, VueCustomScrollbar},
		props: {
			anime: Anime
		}
	})
	export default class AnimeCardInfo extends Vue {

		data() {
			return {
				settings: {
					swipeEase: true
				}
			}
		}
	}
</script>