<template>
    <div id="app">
        <Banner/>
        <router-view id="list"></router-view>
    </div>
</template>

<style scoped lang="scss">
    #app {
        overflow: hidden;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    #list {
        margin-top: 5vw;
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import Banner from './components/Banner.vue';

	@Component({
		components: {
			Banner
		}
	})
	export default class App extends Vue {
	}
</script>
