<template>
    <div class="page">
        <div class="anime-title">{{name}}</div>
        <h1 class="title">{{episode.Name}}</h1>
        <h2 class="subtitle">Episode #{{episode.Number}}</h2>
        <video id="video" controls autoplay></video>
        <div class="download">
            Downloads
            <a class="button" v-bind:href="Mkv">1080p MKV</a>
            <a class="button" v-bind:href="Mp4">1080p MP4</a>
            <a class="button" v-bind:href="Mpd">1080p MPD</a>
        </div>
    </div>
</template>

<style scoped lang="scss">

    $color: coral;

    #video {
        width: 100%;
        max-width: 1200px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }

    .font {
        font-family: Overpass, sans-serif;
        font-weight: 600;
        text-align: center;
        margin: 0;
    }

    .download {
        padding: 20px;
        @extend .font;
        color: #9fadbd;
        font-size: 18px;
        margin-bottom: 40px;

        .button {
            @extend .font;
            color: white;
            background: $color;
            padding: 10px;
            cursor: pointer;
            border-radius: 20px;
            font-size: 12px;
            transition: 0.5s;

            &:hover {
                background: $color *0.5;
            }
        }
    }


    .anime-title {
        @extend .font;
        color: white;
    }

    .title {
        @extend .font;
        color: white;
    }

    .subtitle {
        @extend .font;
        margin-bottom: 20px;
        color: #9fadbd;
    }

    .page {
        width: 90%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
</style>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import {client, local} from "../../init";
	import {Episode} from "../../../../classLibrary/Episode";

	const Plyr = require('plyr');
	const shaka = require('shaka-player');

	@Component({})
	export default class VideoPlayer extends Vue {
		private episode: Episode = {Name: "", Number: 0};
		private name: string = "";
		private duration: number = 24 * 60;
		private showPrompt: boolean = false;
		private player: any;

		closePrompt(): void {
			this.showPrompt = false;
		}

		async mounted() {
			let id: string = (this.$route.params as any).id!;
			let ep: number = (this.$route.params as any).ep!.ToInt();
			if (local.episodeWatched() > 0 && !local.asked()) {
				this.showPrompt = true;
				local.setAsked();
			}
			this.episode = await client.GetEpisode(id, ep);
			this.name = await client.GetAnimeName(id);
			if (shaka.Player.isBrowserSupported()) {
				this.initPlayer();
			} else {
				console.error('Browser not supported!');
			}
		}

		beforeDestroy() {
			this.player.unload();
			this.player.destroy();
			delete this.player;
		}

		private initPlayer() {
			let video: HTMLVideoElement = this.$el.querySelector("#video")! as HTMLVideoElement;
			this.player = new shaka.Player(video);

			new Plyr(video, {
				title: this.name,
				settings: ['quality', 'speed', 'loop']
			});

			this.player.configure({streaming: {bufferingGoal: 60 * 24}});
			this.duration = video.duration;
			video.addEventListener('durationchange', () => this.duration = video.duration);
			video.addEventListener('timeupdate', () => {
				let progress: number = video.currentTime / this.duration;
				if (progress > 0.5) local.setWatchedEpisode(this.name + this.episode.Number.toString());
			});
			let onErrorEvent = (event: any) => onError(event.detail);
			let onError = (error: any) => console.error('Error code', error.code, 'object', error, error.message);
			this.player.addEventListener('error', onErrorEvent);
			this.player.load(this.episode!.Mpd).then(() => {}).catch(onError);
		}

		get Mkv(): string {
			return this.episode!.Mkv;
		}

		get Mp4(): string {
			return this.episode!.Mp4;
		}

		get Mpd(): string {
			return this.episode!.Mpd;
		}
	}
</script>
